<h3 class="my-3">商品列表</h3>
<a href="/admin/products/create" class="btn btn-sm btn-outline-secondary my-4">上架商品</a>
{{> message}}
<div class="d-flex flex-wrap">
  {{#each products}}
  <div class="card m-3" style="width: 18rem;">
    <img src="{{this.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.description}}</p>
      <h4>定價：{{this.price}}</h4>
      <a href="/admin/products/{{this.id}}" class="btn btn-sm btn-outline-secondary mt-4">修改商品詳情</a>
    </div>
  </div>
  {{/each}}
</div>