<div class="admin-order-management">
  <h3 class="my-3">訂單總覽</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">訂單號碼</th>
        <th scope="col">訂單日期</th>
        <th scope="col">訂購人</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <th scope="row"><a href="/admin/orders/{{this.id}}">{{this.id}}</a></th>
        <td>{{this.createdAt}}</td>
        <td>{{this.name}}({{this.email}})</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>